<% include ../partials/header %>

<div class="container; display: block" style="justify-content: center; text-align: center; padding: 0px">
    <div class="row">
        <div class="col-sm-3" style="display: block">
            <a class="btn purpleBtn backBtn" style="text-align: center" href="/music/<%=album._id%>">Back to Album</a>
        </div>
        <div class="col-sm-6" aria-label="new comment">
            <div class="thumbnail newContent" style="margin-top: 20px">
                <div style="display: flex; flex-direction: column"> 
                    <form action="/music/<%=album._id%>/comments" method="POST">
                        <h2 class="addContentHeader">Add New Comment to <%=album.name%></h2> 
                        <input class="form-control" aria-label="add comment text" type="text" name="comment[text]" placeholder="text">
                        <button class="btn blueBtn">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
        </div>
    </div>
</div>

<% include ../partials/footer %>