<% include ../partials/header %>

<a class="btn purpleBtn backBtn" id="toAlbums" href="/music/<%=album_id%>">Back to Album</a>

<div class="container; display: block" style="justify-content: center; text-align: center;">
    <div class="row">
        <div class="thumbnail newContent" style="width: 40%; margin: 0 auto; display: flex; flex-direction: column"> 
            <form action="/music/<%=album_id%>/comments/<%=comment._id%>?_method=PUT" method="POST">
                <h2>Edit Comment</h2> 
                <input class="form-control" type="text" name="comment[text]" value="<%=comment.text%>">
                <button class="btn blueBtn">Update</button>
            </form>
        </div>
    </div>
</div>

<% include ../partials/footer %>