<% include ../partials/header %>
    
<a class="btn purpleBtn" id="toAlbums" href="/music/<%=album._id%>">Back to Albums</a>

<div class="container; display: block" style="justify-content: center; text-align: center;">
    <div class="row">
        <div style="width: 30%; margin: 0 auto; display: flex; flex-direction: column"> 
            <form action="/music/<%=album._id%>/comments" method="POST">
                <h2>Add New Comment to <%=album.name%></h2> 
                <input class="form-control" type="text" name="comment[text]" placeholder="text">
                <input class="form-control" type="text" name="comment[author]" placeholder="author">
                <button class="btn blueBtn">Submit</button>
            </form>
        </div>
    </div>
</div>



<% include ../partials/footer %>