<% include ../partials/header %>
<div class="display: flex; pageTitle">
        <h1 class="blue">Lost Art of Kindness</h1>
</div>

<div class="container; display: block" style="justify-content: center; text-align: center; padding: 0px">
    <div class="row">
        <div class="col-sm-3" style="display: block">
            <a class="btn purpleBtn backBtn" style="text-align: center" href="/music/<%=album._id%>">Back to Album</a>
        </div>
        <div class="col-sm-6">
            <div class="thumbnail newContent" style="margin-top: 20px">
                <div style="display: flex; flex-direction: column"> 
                    <form action="/music/<%=album._id%>/comments" method="POST">
                        <h2 class="addContentHeader">Add New Comment to <%=album.name%></h2> 
                        <input class="form-control" type="text" name="comment[text]" placeholder="text">
                        <button class="btn blueBtn">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
        </div>
    </div>
</div>

<% include ../partials/footer %>