<% include ../partials/header %>
<div class="display: flex; pageTitle">
        <h1 class="blue">Lost Art of Kindness</h1>
</div>

<a class="btn purpleBtn backBtn" href="/music/<%=album._id%>">Back to Album</a>

<div class="container; display: block" style="justify-content: center; text-align: center;">
    <div class="row">
        <div class="thumbnail newContent">
            <div style="display: flex; flex-direction: column"> 
                <form action="/music/<%=album._id%>/comments" method="POST">
                    <h2 class="addContentHeader">Add New Comment to <%=album.name%></h2> 
                    <input class="form-control" type="text" name="comment[text]" placeholder="text">
                    <button class="btn blueBtn">Submit</button>
                </form>
            </div>
        </div>

    </div>
</div>

<div class="purple">
    <p>{ Play nice, or your comment <br>may be removed }</p>
</div>

<% include ../partials/footer %>