<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Music Lover Forum</h1>
            <p>A community who loves music as much as you do</p>
            <p>
                <a class="btn btn-primary btn-lrg" href="/music/forum">Music Forum</a>
            </p>
            <p>
                <a class="btn btn-primary btn-lrg" href="/music/search">Search Songs by Artist Name</a>
            </p> 
        </div>
    </header>
</div>


<% include partials/footer %>