<% include partials/header %>
<a href="/">Home</a> <br>
<a href="/music/forum">Back to Music Forum</a> <br>
<a href="/music/search">Back to Search</a> <br>

<h3>Submit a New Album</h3>
<form action="/music/forum" method="POST">
    <input type="text" name="newAlbum" placeholder="Album Name"> <br>
    <input type="text" name="artist" placeholder="Artist"> <br>
    <input type="text" name="imageURL" placeholder="Album Cover URL">
    <button>Submit</button>
</form>


<% include partials/footer %>