<% include partials/header %>


<div class="container; display: block">
    <div class="row">
        <div style="text-align: center; width: 30%; margin: 0 auto"> 
            <h3>Submit a New Album</h3>
            <form action="/music/forum" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="newAlbum" placeholder="Album Name">
                </div>    
                <div class="form-group">
                    <input class="form-control" type="text" name="artist" placeholder="Artist">
                </div>  
                <div class="form-group">
                    <input class="form-control" type="text" name="imageURL" placeholder="Album Cover URL">
                </div>
                <button class="btn btn-lg btn-primary btn-block">Submit</button>
            </form> <br>
            <a href="/music/forum">Back to Music Forum</a>
        </div>
    </div>
</div>


<br>
<% include partials/footer %>