<% include partials/header %>
<a href="/music/forum">Back to Music Forum</a> <br>


<div class="container; display: block">
    <div class="row">
        <div style="text-align: center; width: 30%; margin: auto"> 
            <h3>Submit a New Album</h3>
            <form action="/music/forum" method="POST">
                <div>
                    <input class="form-control" type="text" name="newAlbum" placeholder="Album Name"> <br>
                </div>    
                <div>
                    <input class="form-control" type="text" name="artist" placeholder="Artist"> <br>
                </div>  
                <div>
                    <input class="form-control" type="text" name="imageURL" placeholder="Album Cover URL">
                </div> <br>
                <button class="btn btn-lg btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>


<br>
<% include partials/footer %>