<% include partials/header %>

<h1>Find Songs By Artist Name:</h1>

<form action="/music/search" method="GET">
    <input type="text" name="singer" id= "singer" placeholder="artist name">
    <button>Search</button>
</form>


<%results.forEach((result) =>{ %>
<li><%= result.trackCensoredName %> </li>
<% }); %>


<% include partials/footer %>