<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="/images/favicon.ico" />

    <!-- Bootstrap V. 3.4.1 compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Bootstrap Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!--Font Awesome CDN-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

<!--Google Fonts-->
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700&display=swap" rel="stylesheet">

<!--custom CSS-->
<link rel="stylesheet" href="/stylesheets/main.css">

    <title>Music Lover Forum</title>
  </head>
  <body style="padding-top: 0px">
  <nav class="navbar navbar-inverse" role="navigation" style="margin-bottom:0 !important">
      <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-label="Toggle Navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><i class="fas fa-compact-disc"></i></a>
          </div>
          <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-left">
                  <li><a href="/music">Album Gallery</a></li>
              </ul> 
              <ul class="nav navbar-nav navbar-right">
                  <form class="navbar-form navbar-left" role="search" action="/music/search" method="GET" style="vertical-align: center; margin: 10px 0">
                      <div class="form-group">
                          <input type="text" class="searchAlbums" name="singer" id= "singer" placeholder="search by artist name">
                          <input type="submit" style="display: inline" value="Go" id="navGo">
                      </div>
                  </form>
                     <% if(currentUser){ %>
                        <li id="usernameNav">Signed in as <%=currentUser.username%> </li>
                        <li><a href="/logout">Logout</a></li>
                    <% }else{ %>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Sign Up</a></li>
                    <% } %>
              </ul>
          </div>
      </div>
  </nav>
<div class="container" style="margin-bottom: 0">
    <% if(error && error.length > 0) { %>
        <div class="alert alert-danger" style="margin: 10px" role="alert"> <%= error %></div>
    <% } %>
    <% if(success && success.length > 0) { %>
        <div class="alert alert-success" style="margin: 10px" role="alert"> <%= success %></div>
    <% } %>
</div>

  
