body, html {
    font-family: 'Nunito Sans', sans-serif;
}

.nav {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
}
.pageTitle {
    justify-content: center; 
    text-align: center
}

.pageTitle h1 {
    margin: 0 auto;
    margin-top: 6px; 
    padding: 5px;
}

hr {
    height: .1em;
    background-color: #E6E6E6;
    width: 90%;
    margin: 0 auto;
    background-image: linear-gradient(left , white 1%, #E6E6E6 40% 60%, white 99%);
    background-image: -o-linear-gradient(left , white 1%, #E6E6E6 40% 60%, white 99%);
    background-image: -moz-linear-gradient(left , white 1%, #E6E6E6 40% 60%, white 99%);
    background-image: -webkit-linear-gradient(left , white 1%, #E6E6E6 40% 60%, white 99%);
    background-image: -ms-linear-gradient(left , white 1%, #E6E6E6 40% 60%, white 99%);
    background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0.01, white), color-stop(0.4, gray), color-stop(0.6, gray),color-stop(0.99, white) );
}

.login {
    margin: 0 auto; 
    text-align: center; 
    border: 2px solid rgb(0,0,0);
}

.loginHeader {
    margin-top: 10px; 
    margin-bottom: 15px;
}

.addContentHeader {
    margin-top: 0px; 
}

.newContent {
    padding: 30px;
    margin: 0 auto;
    border: 2px solid rgba(0,0,0, .4);
}

.newAlbum {
    margin: 0 auto;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
    border: solid rgb(0, 0, 0, .4) 2px;
}

.smallInput {
    width: 40%;
}

.left {
    float: left;
}

section label, section input {
    display: block;
}

.blueBtn {
    background-color:rgb(50,221,250); 
    color: white;
}

.blueBtnSearch {
    background-color:rgb(50,221,250); 
    color: white;
    width: 100px;
    margin-left: 8px;
    padding: 0;
    border-radius: 0px;
}

.searchAlbums {
    padding:6px 10px 6px 20px;
    margin-bottom: 0;
    margin-top: 10px; 
    height: 34px;
    background: url('./images/search.png') no-repeat 8px 6px; 
    border-radius:6px; 
    -moz-border-radius:6px; 
    -webkit-border-radius:6px; 
}

nav .searchAlbums {
    padding:6px 10px 6px 20px;
    margin: 0; 
    height: 30px; 
    border-radius:6px; 
    -moz-border-radius:6px; 
    -webkit-border-radius:6px; 
    opacity: .5;
    color: #9d9d9d;
}

#navGo {
    opacity: .5;
    height: 30px;
    border-radius:6px; 
    -moz-border-radius:6px; 
    -webkit-border-radius:6px; 
}

.purpleBtn {
    background-color:rgba(150,90,240, .8); 
    color: rgb(250,250,250);
}

.purpleBtn:hover {
    color: rgb(0,0,0) !important;
}

.backBtn {
    margin-left: 15px;
}

.btn-danger:hover {
    color: rgb(0,0,0);
}

.fa-compact-disc {
    font-size: 2rem;
}

#indexAlbum {
    width: 320px; 
    background-color:rgba(2, 43, 88, 0.05); 
    padding: 0;
}

.imgShow {
    height: 60%;
    margin: 0 auto; 
    padding: 0; 
    border: solid rgb(0, 0, 0, .4) 2px;
}


#largeAlbum {
    width:100%;
    max-height: 700px;
    overflow:hidden;
    margin: 0 !important;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
}

.artist {
    /* background-color: rgba(2, 43, 88, 0.15); */
    border-bottom: solid rgb(0, 0, 0, .4) 2px;
    height: 7em;
    display: flex;
    flex-direction: column;
}

.artist h1, .artist h3 {
    margin: 0 auto;
    padding: 5px;
}

#usernameNav {
    color:#9d9d9d;
    padding: 15px;
}