

.pageTitle {
    background-color:rgba(150,90,240, .5);
    border-bottom: rgb(0,0,0) solid 2px;
    justify-content: center; 
    text-align: center
}

.pageTitle h1 {
    margin: 0 auto; 
    padding: 6px;
}

.purpleBtn {
    background-color:rgba(150,90,240, .8); 
    color: rgb(0,0,0,);
}

/* #albumGridMain {
    width: 320px; 
    background-color:rgba(2, 43, 88, 0.05); 
    box-shadow: 2px 3px rgb(0, 0, 0, .3);
} */

.blueBtn {
    background-color:rgb(50,221,250); 
    color: white;
}

.fa-compact-disc {
    font-size: 2rem;
}