<% include ../partials/header %>

<div class="container" style="padding: 0">
    <div class="row">
        <div class="hidden-xs col-sm-2" style="padding:0">
            <a class="btn purpleBtn" style="float: left" href="/music">Back to Albums</a>
        </div>
        <div class="col-xs-12 col-sm-8" aria-label="Submit a new album">
             <div class="thumbnail newAlbum">
                <h1 style="margin-top: 15px; text-align: center">Submit a New Album</h1>
                <form action="/music" aria-label="New album information" method="POST">
                    <div class="row" style="display: flex">
                        <div class="col-xs-12 col-md-6" aria-label="Add album name">
                            <label for="album[name]">Album Name</label>
                            <input class="form-control" type="text" name="album[name]" placeholder="album name">
                        </div>
                        <div class="col-xs-12 col-md-6" aria-label="Add artist name">
                            <label for="album[artist]">Artist</label>
                            <input class="form-control" type="text" name="album[artist]" placeholder="artist">
                        </div>    
                    </div>
                    <br>
                    <div class="form-group" aria-label="Add album cover URL">
                        <label for="album[image]">Album Cover URL</label>
                        <input class="form-control" type="text" name="album[image]" placeholder="album cover image URL">
                    </div>
                    <div class="form-group" aria-label="Add album description">
                        <label for="album[about]">About</label>
                        <textarea require= "true" class="form-control" name="album[about]" id="" cols="30" rows="10" placeholder="why do you like this album?"></textarea>
                    </div>
                    <button class="btn btn-lg blueBtn btn-block" aria-label="submit album" style="display: block; margin:0 auto">Submit</button>
                </form>
            </div>
        </div>
        <div class=" hidden-xs col-sm-2"></div>
    </div>
</div>


<% include ../partials/footer %>