<% include ../partials/header %>
<div class="display: flex; pageTitle">
        <h1 class="blue">Submit a New Album</h1>
</div>
<div>
    <a href="/music" class="btn purpleBtn backBtn">Back to Albums</a>
</div>


<div class="container">
    <div class="thumbnail newAlbum">
        <div class="row">
            <form action="/music" method="POST">
                <div class="row" style="display: flex">
                    <div class="col-xs-12 col-md-6">
                        <label for="album[name]">Album Name</label>
                        <input class="form-control" type="text" name="album[name]" placeholder="album name">
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <label for="album[artist]">Artist</label>
                        <input class="form-control" type="text" name="album[artist]" placeholder="artist">
                    </div>    
                </div>
                <br>
                <div class="form-group">
                    <label for="album[image]">Album Cover URL</label>
                    <input class="form-control" type="text" name="album[image]" placeholder="album cover URL">
                </div>
                <div class="form-group">
                    <label for="album[about]">About</label>
                    <textarea require= "true" class="form-control" name="album[about]" id="" cols="30" rows="10" placeholder="why do you like this album?"></textarea>
                </div>
                <button class="btn blueBtn" style="display: block; margin:0 auto">Submit</button>
            </form>
        </div>
    </div>
</div>


<% include ../partials/footer %>