<% include ./partials/header %>

<div class="container search">
    <div style="text-align: center; margin-bottom: 30px">
        <h1>Find Albums By Artist Name:</h1>
        <hr>
        <div class="row">
            <form action="/music/search" method="GET">
                <input type="text" class="searchAlbums" name="singer" id= "singer" placeholder="artist name">
                <button class="btn blueBtn" aria-label="Search by artist name" style="margin-bottom: 1px">Search</button>
            </form>
        </div>
    </div>

    <div class="row">
        <% console.log(results); %>
        <%results.forEach((result) =>{ %>
            <div class="col-md-6" style="height: 200px">
                <p><strong><%= result.collectionCensoredName %></strong></p>
                <div class="container">
                    <div class="row" style="display: flex">
                        <img style="margin-left: 8px" src="<%= result.artworkUrl100 %>" alt="album cover">
                        <div style="max-height: 70px; max-width: 350px">
                            <p style="margin: 10px; text-align: center; word-wrap: break-word"> <%= result.copyright %> </p>
                        </div> 
                    </div>
                </div>
                <a class="btn blueBtnSearch" style="vertical-align: center" aria-label="view artist's albums on iTunes" target="_blank" href="<%= result.collectionViewUrl %>">View on Itunes</a>
                
            </div>
        <% }); %>
    </div>

    </div>
</div>

<% include ./partials/footer %>